/* Sidebar styles */
.flybuy-sidebar {
    position: fixed;
    top: 0;
    left: -280px; /* Start with the sidebar hidden */
    width: 280px;
    height: 100vh;
    background-color: #f1f1f1;
    transition: left 0.3s ease-in-out;
  }
  
  .sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .sidebar-toggle {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .flybuy-header .flybuy-header-left-section .sidebar-toggle i {
    font-size: 1rem;
    color: rgb(206, 206, 206);
  }
  
  .sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-links li {
    padding: 10px;
  }
  
  .sidebar-links li a {
    text-decoration: none;
    color: rgb(247, 247, 247);
  }
  
  /* Show the sidebar when the hamburger button is clicked */
  .sidebar-active {
    left: 0;
  }